@import '../app.component.scss';
@import '../../assets/styles/include-media.scss';

$breakpoints: (
  phone: 320px, 
  tablet: 768px, 
  desktop: 1024px) !default;

.desktop-header {
  border-top: 6px solid $brandRed;
  margin-top: 30px;
  width: 100%;
  min-height: 80px;
  background-color: $brandBlue;

  @include media("<tablet") {
    display: none;
  }
}

.header__button-container {
  height: 80px;
  margin: 0 auto;
  width: 700px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: $primaryWhite;
  justify-content: space-between;

  @include media("<tablet") {
    width: 500px;
  }
}

.header__text-link {
  font-family: 'brandon-bold', sans-serif;
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: $primaryWhite;
  font-weight: 400;
  padding-top: 27px;

  &:hover {
    color: $grey;
  }

  svg {
    height: 13px;
    margin: 6px 10px;
    fill: $primaryWhite;
  }
}

.header__text-link:hover svg {
  fill: $grey;
}

.header__logo-image {
  margin-top: 8px;
  margin-left: -70px;
  border: 2px solid $primaryWhite;
  border-radius: 2px;
  height: 60px;
  width: auto;
}

.mobile-header {
  display: none;

  @include media("<tablet") {
    display: block;
    width: 100%;
    height: 80px;
    background-color: $brandBlue;
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 20px;
  z-index: 1; 
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none; 
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}


#menuToggle input {
  color: $primaryWhite;
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $primaryWhite;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Position slide-out
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 0 50px 0 60px;
  padding-top: 115px;
  background: $brandBlue;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  font-family: 'brandon-bold', sans-serif;
  text-transform: uppercase;
  color: $primaryWhite;
  font-size: 30px;
  padding: 10px 0;
  border-top: 1px solid $primaryWhite;
}

#menuToggle input:checked ~ ul {
  color: $primaryWhite;
  transform: none;
}

.header__mobile-title {
  text-transform: uppercase;
  color: $primaryWhite;
  font-size: 28px;
  margin-left: 50px;
  margin-top: -4px;
}