<div class="header">    
    <ul class="header__button-container">
      <img class="header__logo-image" src="../assets/images/Modified_Plate_FB_Icon.jpg"/>
      <li class="header__text-link">Home<img class="header__caret" src="../assets/images/header-caret.png"/></li>
      <li class="header__text-link">Gallery<img class="header__caret" src="../assets/images/header-caret.png"/></li>
      <li class="header__text-link">Archives<img class="header__caret" src="../assets/images/header-caret.png"/></li>
      <li class="header__text-link">Links<img class="header__caret" src="../assets/images/header-caret.png"/></li>
    </ul>
</div>