<div class="stickerPage">
  <h1 class="stickerPage__title">
    <span class="stickerPage__title--mainHeading">The Modified Plate: </span>
    <span class="stickerPage__title--subHeading">Media & Musings about the LEGO<sup>®</sup> brand</span>
  </h1>
  <div class="image-row">
    <div class="image-column" *ngFor="let sticker of stickers; let i = index">
        <img src="{{sticker.url}}" (click)="openModal();currentSlide(i+1)" class="hover-shadow cursor">
        <div>{{sticker.setNumber}}</div>
    </div>
  </div>
  <div id="imgModal" class="slide-modal">
    <span class="close cursor" (click)="closeModal()">&times;</span>
    <div class="slide-modal-content">
        <div class="img-slides" *ngFor="let sticker of stickers; let i = index">
            <img src="{{sticker.url}}">
        </div>
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
        <div class="image-row">
            <div class="image-column" *ngFor="let sticker of stickers; let i = index">
                <img class="images" (click)="currentSlide(i+1)" src="{{sticker.url}}">
            </div>
        </div>
  </div>
</div>
</div>
