@import '../assets/styles/include-media.scss';

$breakpoints: (
  phone: 320px, 
  tablet: 768px, 
  desktop: 1024px) !default;

$primaryWhite: #fff;
$grey: #afafaf;
$primaryBlack: #000;
$brandBlue: #3a64ac;
$brandRed: #e92d36;

.app-container {
  width: 100%;
  margin: 0 auto;
}

.disclosure {
  font-family: 'brandon-medium';
  margin: -25px 0 20px;
}