@import '../app.component.scss';
@import '../../assets/styles/include-media.scss';

$breakpoints: (
  phone: 320px, 
  tablet: 768px, 
  desktop: 1024px) !default;

.fullPage {
  background-color: rgba($primaryWhite, 0.80);
  border-radius: 5px;
  margin: 40px auto;
  padding: 30px;
  max-width: 1000px;
}

.fullPage__image {
  width: 95%;
  margin: 0 auto;
}

.fullPage__title {
  font-family: "brandon-thin", sans-serif;
  font-size: 40px;
  color: $brandBlue;
  text-transform: uppercase;
  margin-top: 15px;

  @include media("<tablet") {
    font-size: 25px;
  }
}

.fullPage__backButton {
  text-decoration: none;
  color: $brandRed;
  cursor: pointer;
}