/* You can add global styles to this file, and also import other style files */
@import './app/app.component.scss';

$primaryWhite: #fff;
$grey: #afafaf;

@font-face {
	font-family: 'brandon-bold';
	src: url('./assets/fonts/Brandon_bld.eot');
	src: url('./assets/fonts/Brandon_bld.woff') format('woff'), url('./assets/fonts/Brandon_bld.ttf') format('truetype'), url('./assets/fonts/Brandon_bld.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon-medium';
	src: url('./assets/fonts/Brandon_med.eot');
	src: url('./assets/fonts/Brandon_med.ttf') format('truetype'), url('./assets/fonts/Brandon_med.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon-thin';
	src: url('./assets/fonts/Brandon_thin.eot');
	src: url('./assets/fonts/Brandon_thin.ttf') format('truetype'), url('./assets/fonts/Brandon_thin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family:"brandon-bold", "arial", sans-serif;
  width: 100%;
  text-align: center;
  line-height: 1.4;
  font-size: 16px;
  background: #feffff url(../src/assets/images/bg.jpg) repeat;
  margin: 0;
  padding: 0;
}
