<div class="homePage__container">
  <div class="threeColumnCards__container">  

      <div *ngFor="let data of cardData.default" class="threeColumnCards__card threeColumnCards__cardBorder" [ngStyle]="{'background-image': 'url(../assets/images/img_25_1.jpg)', 'background-size': 'cover'}">
        <div class="threeColumnCards__cardHeader threeColumnCards__cardBackground">
          {{data.title}}
        </div>
        <div class="threeColumnCards__cardBody">
        </div>
        <div class="threeColumnCards__cardCta">
        </div>
      </div>

  </div>
</div>
