@import '../app.component.scss';
@import '../../assets/styles/include-media.scss';

$breakpoints: (
  phone: 320px, 
  tablet: 768px, 
  desktop: 1024px) !default;

.homePage {
  background-color: rgba($primaryWhite, 0.80);
  border-radius: 5px;
  margin: 40px auto;
  padding: 30px;
  max-width: 1000px;

  @include media("<desktop") {
    margin: 0 auto;
  }
}

.homePage__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  @include media("<desktop") {
    display: block;
  }
}

.homePage__title {
  margin: 0;
  height: 60px;
  color: $brandRed;
  text-transform: uppercase;

  @include media("<desktop") {
    display: none;
  }
}

.homePage__title--mainHeading {
  float: left;
  position: relative;
  font-family: 'brandon-bold', sans-serif;
  font-size: 33px;
  text-align: left;
  text-transform: uppercase;
}

.homePage__title--subHeading {
  display: inline-block;
  color: $brandBlue;
  font-family: 'brandon-thin', sans-serif;
  font-size: 30px;
  padding-top: 3px;
  text-align: left;
  text-transform: uppercase;

  sup {
    font-size: 10px;
  }

  @include media("<desktop") {
    display: none;
  }
}

.homePage__card {
  font-family: 'brandon-bold', sans-serif;
  font-size: 1.4em;
  letter-spacing: 0.1;
  height: 350px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 14px;
  margin-top: 0;
  min-width: 316px;
  background-color: $primaryWhite;

  // @include mq(desktop-tablet) {
  //   margin-left: 0;
  // }
}

.homePage__cardHeader {
  margin: 0;
  color: $primaryWhite;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px;
  text-align: left;
  text-transform: uppercase;
}

.homePage__cardBorder {
  border: 1px solid $brandBlue;
  border-radius: 5px;
}

.homePage__cardBackground {
  background-color: $brandBlue;
}

.homePage__cardBody {
  max-height: 60%;
  min-height: 60%;
  overflow: hidden;
  padding: 15px;
}

.homePage__cardCta {
  margin-top: -20px;
  margin-left: 15px;
}
