<div class="homePage__container">
  <div class="threeColumnCards__container">  

      <div class="threeColumnCards__card threeColumnCards__cardBorder">
        <div class="threeColumnCards__cardHeader threeColumnCards__cardBackground">
          This is the header
        </div>
        <div class="threeColumnCards__cardBody">
          this is the body copy
        </div>
        <div class="threeColumnCards__cardCta">
        </div>
      </div>

      <div class="threeColumnCards__card threeColumnCards__cardBorder">
        <div class="threeColumnCards__cardHeader threeColumnCards__cardBackground">
          This is the header
        </div>
        <div class="threeColumnCards__cardBody">
          this is the body copy
        </div>
        <div class="threeColumnCards__cardCta">
        </div>
      </div>

      <div class="threeColumnCards__card threeColumnCards__cardBorder">
        <div class="threeColumnCards__cardHeader threeColumnCards__cardBackground">
          This is the header
        </div>
        <div class="threeColumnCards__cardBody">
          this is the body copy
        </div>
        <div class="threeColumnCards__cardCta">
        </div>
      </div>


  </div>
</div>
