<div class="homePage">
  <h1 class="homePage__title">
    <span class="homePage__title--mainHeading">The Modified Plate: </span>
    <span class="homePage__title--subHeading">Media & Musings about the LEGO<sup>®</sup> brand</span>
    </h1>
  <div class="homePage__container">  
      <div *ngFor="let data of cardData.default" class="homePage__card homePage__cardBorder" [ngStyle]="{'background-image': 'url(' + data.imagePath + ')', 'background-size': 'cover'}">
        <h2 class="homePage__cardHeader homePage__cardBackground">
          {{data.title}}
        </h2>
        <div class="homePage__cardBody">
        </div>
        <div class="homePage__cardCta">
          <app-cta [ctaText]="ctaText" (click)="goToProductDetails(data.id, data.imagePath, data.title)"></app-cta>
        </div>
      </div>
  </div>
</div>
