@import '../../app.component.scss';
@import '../../../assets/styles/include-media.scss';

$breakpoints: (
  phone: 320px, 
  tablet: 768px, 
  desktop: 1024px) !default;

.cta {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: $primaryWhite;
  border: 1px solid $primaryWhite;
  width: 110px;
  height: 25px;
  background-color: $brandRed;
  padding: 11px 22px;

  @include media("<tablet") {
    font-size: 17px;
  }
}

.cta__arrow {
  margin-top: 1px;
  padding-left: 5px;
  fill: $primaryWhite;
  width: 14px;
}

.cta:hover .cta__arrow {
  transform: translateX(8px);
}
